<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>课程审核</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="/index">首页</a></li>
        <li><a th:href="@{'/classDegree/audit/'+${kSuggestionMap.kNo}}">审核</a></li>
    </ul>
</div>

<div class="formbody">

    <div class="formtitle"><span>基本信息</span></div>

    <form th:action="@{/classDegree/auditUpdate}" method="post">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="kNo" th:value="${kSuggestionMap.kNo}">
        <ul class="forminfo">
            <li><label>课程审核：</label><textarea name="kSuggestion" cols="" rows="" class="textinput" th:text="${kSuggestionMap.kSuggestion}"></textarea></li>
            <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确认保存"/></li>
        </ul>
    </form>

</div>


<div style="display:none">
    <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
</div>
</body>
</html>