<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
    <body>
        <table border="1">
            <tr>
                <th colspan="3">courseTarget</th>
            </tr>
            <tr>
                <th>target1</th>
                <th>target2</th>
                <th>target3</th>
            </tr>
            <tr>
                <td th:text="${targetList[0]}"></td>
                <td th:text="${targetList[1]}"></td>
                <td th:text="${targetList[2]}"></td>
            </tr>
        </table>
    </body>
</html>