<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>毕业指标点</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".click").click(function () {
                $(".tip").fadeIn(200);
            });

            $(".tiptop a").click(function () {
                $(".tip").fadeOut(200);
            });

            $(".sure").click(function () {
                $(".tip").fadeOut(100);
            });

            $(".cancel").click(function () {
                $(".tip").fadeOut(100);
            });

        });
    </script>

</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="/index">首页</a></li>
            <li><a href="/classDegree/graduationDegree?KName=Hadoop">指标点达成</a></li>
        </ul>
    </div>

    <div class="rightinfo">
        <table class="tablelist">
            <thead>
                <tr>
                    <th class="ttile">课程目标</th>
                    <th class="ttile">课程目标支撑的毕业要求指标点</th>
                    <th class="ttile">课程目标支达成度</th>
                    <th class="ttile">权重</th>
                    <th class="ttile">指标点达成度</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>课程目标 1</th>
                    <td th:text="${targetMap.point1}"></td>
                    <td th:text="${targetMap.target1}"></td>
                    <td th:text="${targetMap.totalTarget1Weight}"></td>
                    <td th:text="${targetMap.requirementTarget1}"></td>
                </tr>
                <tr>
                    <th>课程目标 2</th>
                    <td th:text="${targetMap.point2}"></td>
                    <td th:text="${targetMap.target2}"></td>
                    <td th:text="${targetMap.totalTarget2Weight}"></td>
                    <td th:text="${targetMap.requirementTarget2}"></td>
                </tr>
                <tr>
                    <th>课程目标 3</th>
                    <td th:text="${targetMap.point3}"></td>
                    <td th:text="${targetMap.target3}"></td>
                    <td th:text="${targetMap.totalTarget3Weight}"></td>
                    <td th:text="${targetMap.requirementTarget3}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>

    <div style="display:none">
        <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
    </div>
</body>
</html>