<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>

</head>


<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="/index">首页</a></li>
    </ul>
</div>

<div class="mainindex">


    <div class="welinfo">
        <span><img src="/static/images/sun.png" alt="天气"/></span>
        <b th:text="'&nbsp&nbsp' + ${session.teacher.tName} + '&nbsp&nbsp,欢迎使用信息管理系统'"></b>
    </div>


    <div class="xline"></div>


    <div class="box"></div>

    <div class="welinfo">
        <span><img src="/static/images/dp.png" alt="提醒"/></span>
        <b>课程达成评价系统使用指南</b>
    </div>

    <ul class="infolist">
        <li><span>导出的课程信息word仍需填充部分信息</span></li>
        <br>
        <li><span>如需修改账户密码，请联系管理员</span></li>
    </ul>

    <div class="xline"></div>


</div>


<div style="display:none">
    <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
</div>
</body>
</html>
