<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <script language="JavaScript" src="/static/js/jquery.js"></script>

    <script type="text/javascript">
        $(function () {
            //一级导航切换
            $(".menuson li div").click(function () {
                $(".menuson li.active").removeClass("active")
                $(this).addClass("active");
            });

            $('.title').click(function () {
                var $ul = $(this).next('ul');
                $('dd').find('ul').slideUp();
                if ($ul.is(':visible')) {
                    $(this).next('ul').slideUp();
                } else {
                    $(this).next('ul').slideDown();
                }
            });

            //二级导航切换
            $(".menuson2 li").click(function () {
                $(".menuson2 li.active").removeClass("active")
                $(this).addClass("active");
            });

            $('.title1').click(function () {
                var $ul = $(this).next('ul');
                $('.menuson1').find('ul').slideUp();
                if ($ul.is(':visible')) {
                    $(this).next('ul').slideUp();
                } else {
                    $(this).next('ul').slideDown();
                }
            });
        })
    </script>


</head>

<body style="background:#f0f9fd;">
<div class="lefttop"><span></span>通讯录</div>

<dl class="leftmenu">

    <dd>
        <div class="title">
            <span><img src="/static/images/leftico01.png"/></span>课程目录
        </div>
        <ul class="menuson">

            <li class="menuson1">
                <div class="title1">
                    <cite></cite><a href="/index" target="rightFrame">Hadoop大数据平台与生态系统</a><i></i>
                </div>
                <ul class="menuson2">
                    <li class="active"><cite></cite><a href="/course/target?KName=Hadoop" target="rightFrame">课程目标</a><i></i></li>
                    <li><cite></cite><a href="/course/requirement?KName=Hadoop" target="rightFrame">毕业要求</a><i></i></li>
                    <li><cite></cite><a href="/classDegree/ordinaryDegree?KName=Hadoop" target="rightFrame">平时成绩</a><i></i></li>
                    <li><cite></cite><a href="/classDegree/finalDegree?KName=Hadoop" target="rightFrame">期末成绩</a><i></i></li>
                    <li><cite></cite><a href="/classDegree/totalDegree?KName=Hadoop" target="rightFrame">课程达成情况</a><i></i></li>
                    <li><cite></cite><a href="/classDegree/targetDegree?KName=Hadoop" target="rightFrame">课程评价</a><i></i></li>
                    <li><cite></cite><a href="/classDegree/graduationDegree?KName=Hadoop" target="rightFrame">指标点达成</a><i></i></li>
                </ul>
            </li>

            <li class="menuson1">
                <div class="title1">
                    <cite></cite><a href="/course/target?KName=Python" target="rightFrame">Python大数据分析</a><i></i>
                </div>
                <ul class="menuson2">
                    <li class="active"><cite></cite><a href="/course/target?KName=Python" target="rightFrame">课程目标</a><i></i></li>
                    <li><cite></cite><a href="/course/requirement?KName=Python" target="rightFrame">毕业要求</a><i></i></li>
                    <li><cite></cite><a href="/classDegree/ordinaryDegree?KName=Python" target="rightFrame">平时成绩</a><i></i></li>
                    <li><cite></cite><a href="/classDegree/finalDegree?KName=Python" target="rightFrame">期末成绩</a><i></i></li>
                    <li><cite></cite><a href="/classDegree/totalDegree?KName=Python" target="rightFrame">课程达成情况</a><i></i></li>
                    <li><cite></cite><a href="/classDegree/targetDegree?KName=Python" target="rightFrame">课程评价</a><i></i></li>
                    <li><cite></cite><a href="/classDegree/graduationDegree?KName=Python" target="rightFrame">指标点达成</a><i></i></li>
                </ul>
            </li>
        </ul>
    </dd>


    <dd>
        <div class="title">
            <span><img src="/static/images/leftico02.png"/></span>改进措施
        </div>
        <ul class="menuson">
            <li><cite></cite><a href="#">编辑内容</a><i></i></li>
            <li><cite></cite><a href="#">发布信息</a><i></i></li>
            <li><cite></cite><a href="#">档案列表显示</a><i></i></li>
        </ul>
    </dd>


    <dd>
        <div class="title"><span><img src="/static/images/leftico03.png"/></span>课程责任人意见</div>
        <ul class="menuson">
            <li><cite></cite><a href="#">自定义</a><i></i></li>
            <li><cite></cite><a href="#">常用资料</a><i></i></li>
            <li><cite></cite><a href="#">信息列表</a><i></i></li>
            <li><cite></cite><a href="#">其他</a><i></i></li>
        </ul>
    </dd>




</dl>

<div style="display:none">
    <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
</div>
</body>
</html>
