<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
    <table border="1px" style="margin: auto; text-align: center">
        <tr>
            <th colspan="8">平时成绩支撑课程目标的过程性评价</th>
        </tr>
        <tr>
            <th rowspan="2">平时成绩教学环节</th>
            <th rowspan="2">满分</th>
            <th rowspan="2">平均分</th>
            <th rowspan="2">最高分</th>
            <th rowspan="2">最低分</th>
            <th colspan="3">支撑的课程目标权重</th>
        </tr>
        <tr>
            <th>目标 1</th>
            <th>目标 2</th>
            <th>目标 3</th>
        </tr>
        <tr>
            <th>课堂表现</th>
            <td th:text="${ordinaryClassDegreeMap.behaveFull}"></td>
            <td th:text="${ordinaryClassDegreeMap.behaveAvg}"></td>
            <td th:text="${ordinaryClassDegreeMap.behaveHigh}"></td>
            <td th:text="${ordinaryClassDegreeMap.behaveLow}"></td>
            <td th:text="${ordinaryClassDegreeMap.behaveTarget1Weight}"></td>
            <td th:text="${ordinaryClassDegreeMap.behaveTarget2Weight}"></td>
            <td th:text="${ordinaryClassDegreeMap.behaveTarget3Weight}"></td>
        </tr>
        <tr>
            <th>课后作业</th>
            <td th:text="${ordinaryClassDegreeMap.homeworkFull}"></td>
            <td th:text="${ordinaryClassDegreeMap.homeworkAvg}"></td>
            <td th:text="${ordinaryClassDegreeMap.homeworkHigh}"></td>
            <td th:text="${ordinaryClassDegreeMap.homeworkLow}"></td>
            <td th:text="${ordinaryClassDegreeMap.homeworkTarget1Weight}"></td>
            <td th:text="${ordinaryClassDegreeMap.homeworkTarget2Weight}"></td>
            <td th:text="${ordinaryClassDegreeMap.homeworkTarget3Weight}"></td>
        </tr>
        <tr>
            <th> 实验 </th>
            <td th:text="${ordinaryClassDegreeMap.testFull}"></td>
            <td th:text="${ordinaryClassDegreeMap.testAvg}"></td>
            <td th:text="${ordinaryClassDegreeMap.testHigh}"></td>
            <td th:text="${ordinaryClassDegreeMap.testLow}"></td>
            <td th:text="${ordinaryClassDegreeMap.testTarget1Weight}"></td>
            <td th:text="${ordinaryClassDegreeMap.testTarget2Weight}"></td>
            <td th:text="${ordinaryClassDegreeMap.testTarget3Weight}"></td>
        </tr>
        <!--   各部分总分与各目标系数乘积之和     -->
        <tr>
            <th rowspan="3"> 合计 </th>
            <th colspan="4">各课程目标满分值</th>
            <td th:text="${ordinaryClassDegreeMap.target1OFull}"></td>
            <td th:text="${ordinaryClassDegreeMap.target2OFull}"></td>
            <td th:text="${ordinaryClassDegreeMap.target3OFull}"></td>
        </tr>
        <tr>
            <th colspan="4">各课程目标绝对值</th>
            <td th:text="${ordinaryClassDegreeMap.target1O}"></td>
            <td th:text="${ordinaryClassDegreeMap.target2O}"></td>
            <td th:text="${ordinaryClassDegreeMap.target3O}"></td>
        </tr>
        <tr>
            <th colspan="4">课程目标达程度绝对值</th>
            <td colspan="3" th:text="${ordinaryClassDegreeMap.totalO}"></td>
        </tr>
    </table>
</body>
</html>