<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>毕业指标点</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".click").click(function () {
                $(".tip").fadeIn(200);
            });

            $(".tiptop a").click(function () {
                $(".tip").fadeOut(200);
            });

            $(".sure").click(function () {
                $(".tip").fadeOut(100);
            });

            $(".cancel").click(function () {
                $(".tip").fadeOut(100);
            });

        });
    </script>

</head>

<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="/index">首页</a></li>
            <li><a href="/classDegree/ordinaryDegree?KName=Hadoop">平时成绩</a></li>
        </ul>
    </div>

    <div class="rightinfo">
        <table class="tablelist">
            <thead>
                <tr>
                    <th colspan="8" class="ttile">平时成绩支撑课程目标的过程性评价</th>
                </tr>
                <tr>
                    <th rowspan="2">平时成绩教学环节</th>
                    <th rowspan="2">满分</th>
                    <th rowspan="2">平均分</th>
                    <th rowspan="2">最高分</th>
                    <th rowspan="2">最低分</th>
                    <th colspan="3">支撑的课程目标权重</th>
                </tr>
                <tr>
                    <td>目标 1</td>
                    <td>目标 2</td>
                    <td>目标 3</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>课堂表现</th>
                    <td th:text="${ordinaryClassDegreeMap.behaveFull}"></td>
                    <td th:text="${ordinaryClassDegreeMap.behaveAvg}"></td>
                    <td th:text="${ordinaryClassDegreeMap.behaveHigh}"></td>
                    <td th:text="${ordinaryClassDegreeMap.behaveLow}"></td>
                    <td th:text="${ordinaryClassDegreeMap.behaveTarget1Weight}"></td>
                    <td th:text="${ordinaryClassDegreeMap.behaveTarget2Weight}"></td>
                    <td th:text="${ordinaryClassDegreeMap.behaveTarget3Weight}"></td>
                </tr>
                <tr>
                    <th>课后作业</th>
                    <td th:text="${ordinaryClassDegreeMap.homeworkFull}"></td>
                    <td th:text="${ordinaryClassDegreeMap.homeworkAvg}"></td>
                    <td th:text="${ordinaryClassDegreeMap.homeworkHigh}"></td>
                    <td th:text="${ordinaryClassDegreeMap.homeworkLow}"></td>
                    <td th:text="${ordinaryClassDegreeMap.homeworkTarget1Weight}"></td>
                    <td th:text="${ordinaryClassDegreeMap.homeworkTarget2Weight}"></td>
                    <td th:text="${ordinaryClassDegreeMap.homeworkTarget3Weight}"></td>
                </tr>
                <tr>
                    <th>实验</th>
                    <td th:text="${ordinaryClassDegreeMap.testFull}"></td>
                    <td th:text="${ordinaryClassDegreeMap.testAvg}"></td>
                    <td th:text="${ordinaryClassDegreeMap.testHigh}"></td>
                    <td th:text="${ordinaryClassDegreeMap.testLow}"></td>
                    <td th:text="${ordinaryClassDegreeMap.testTarget1Weight}"></td>
                    <td th:text="${ordinaryClassDegreeMap.testTarget2Weight}"></td>
                    <td th:text="${ordinaryClassDegreeMap.testTarget3Weight}"></td>
                </tr>
                <!--   各部分总分与各目标系数乘积之和     -->
                <tr>
                    <th rowspan="3">合计</th>
                    <th colspan="4">各课程目标满分值</th>
                    <td th:text="${ordinaryClassDegreeMap.target1OFull}"></td>
                    <td th:text="${ordinaryClassDegreeMap.target2OFull}"></td>
                    <td th:text="${ordinaryClassDegreeMap.target3OFull}"></td>
                </tr>
                <tr>
                    <th colspan="4">各课程目标绝对值</th>
                    <td th:text="${ordinaryClassDegreeMap.target1O}"></td>
                    <td th:text="${ordinaryClassDegreeMap.target2O}"></td>
                    <td th:text="${ordinaryClassDegreeMap.target3O}"></td>
                </tr>
                <tr>
                    <th colspan="4">课程目标达程度绝对值</th>
                    <td colspan="3" th:text="${ordinaryClassDegreeMap.totalO}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>

    <div style="display:none">
        <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
    </div>
</body>
</html>

