<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <script language="JavaScript" src="/static/js/jquery.js"></script>
    <script type="text/javascript">
        $(function () {
            //顶部导航切换
            $(".nav li a").click(function () {
                $(".nav li a.selected").removeClass("selected")
                $(this).addClass("selected");
            })
        })
    </script>


</head>

<body style="background:url(../../static/images/topbg.gif) repeat-x;">

<div class="topleft">
    <a href="/main" target="_parent"><img src="/static/images/loginlogo.png" title="系统首页"/></a>
</div>

<ul class="nav">
    <li><a href="/index" target="rightFrame" class="selected"><img src="../../static/images/icon01.png" title="首页"/>
        <h2>首页</h2></a></li>
    <li><a href="/imgtable" target="rightFrame"><img src="/static/images/icon02.png" title="系数修改"/>
        <h2>系数修改</h2></a></li>
    <li><a href="/word" target="rightFrame"><img src="/static/images/icon05.png" title="文件导出"/>
        <h2>文件导出</h2></a></li>
</ul>

<div class="topright">
    <ul>
        <li><a href="/login" target="_parent">退出</a></li>
    </ul>

    <div class="user">
        <span th:text="'用户:&nbsp&nbsp' + ${session.teacher.tName} + '&nbsp&nbsp'"></span>
    </div>

</div>

<div style="display:none">
    <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
</div>
</body>
</html>
