<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.school.course_achievement.mapper.StudentMapper">

    <select id="findUser" resultType="java.lang.Integer" parameterType="string">
        SELECT * FROM student WHERE username = #{arg0} and password = #{arg1}
    </select>
</mapper>